<br><br><br><br>
<div class="container text-center">
<h1>Would you survive a Mutiny?</h1>
<br><br><br>
<div class="card text-white bg-dark m-auto" style="width: 40rem;">
  <img class="card-img-top" src="assets/quizApp/pirate-main.png"  alt="Card image cap">
  <div class="card-body">
    <h2>You are captain of your ship out at sea, what is your first quest?</h2>
    
  <ul class="list-group list-group-flush">

    <li class="list-group-item list-group-item-action list-group-item-dark"><h6>Let's sail to find the fountain of youth!</h6>
      

    </li>

    
    <li class="list-group-item list-group-item-action list-group-item-dark">
        <h6>Let's sail to the Tasmanian Peninsula</h6>


    </li>


    <li class="list-group-item list-group-item-action list-group-item-dark">
        <h6>Let's sail to the Tasmanian Peninsula</h6>


    </li>

    <li class="list-group-item list-group-item-action list-group-item-dark">
        <h6>Let's sail to the Tasmanian Peninsula</h6>


    </li>
  </ul>
  <div class="card-body">
      <button type="button" class="btn btn-warning">Back</button>
      <button type="button" class="btn btn-warning">Next</button>
  </div>
  <br>
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group m-auto" role="group" aria-label="First group">
        <button type="button" class="btn btn-secondary">1</button>
        <button type="button" class="btn btn-secondary">2</button>
        <button type="button" class="btn btn-secondary">3</button>
        <button type="button" class="btn btn-secondary">4</button>
      </div>
</div>

<br>



</div>