<div class="mutiny">
    <div class="container text-center">
<br>
        <h1>WOULD YOU SURVIVE A MUTINY?</h1>


        <div class="jumbotron jumbotron-fluid bg-dark jumbo-body-bg">
            <div class="container">
                    <img class="img-fluid image" src="https://i.imgur.com/V3J5jCc.png" alt="Card image cap">

                    <div class="container">


                            <ul class="list-group list-group-flush">
        
        
                                <li>
        
        
                                    <h2 class="pt-4">{{ this.quiz.questions[this.quiz.currentQuestion].title }}</h2>
        
                                </li>
        
                                <li class="p-1" *ngFor="let choice of this.quiz.questions[this.quiz.currentQuestion].choices; let i = index"
                                    (click)="this.quiz.recordAnswer(i)">
        
        
                                    <button (click)="this.quiz.recordAnswer(i)" type="button" class="btn btn-outline-light btn-lg btn-block px-1">{{ choice.a }}</button>
        
        
        
                                </li>
        
                                
                            </ul>
                            </div>

             



            </div>
          </div>
    
        
       
        </div>