
<div class="mutiny">
        <br>
        <br>
        <br>
        <br>
<div class="container text-center">
        
    <h1>Would you survive a Mutiny?</h1>
    <br>
    <br>
    <br>
    <div class="card text-white bg-dark m-auto card-body-bg" style="width: 40rem;">
        <img class="card-img-top" src="assets/quizApp/pirate-main.png" alt="Card image cap">
        <div class="card-body">

            <!-- THIS IS WHERE THE CARD BODY STARTS -->
            <!-- THE NUMBERS IN THE BUTTON SEQUENCE NEED TO NAVIGATE TO EACH DIFFERENT QUESTION AND ANSWER IN THE SAME ORDER THEY ARE LISTED INSIDE THE OBJECT "QUESTION" -->
            <div class="container">

                
                    <ul class="list-group list-group-flush">
                        

                        <li>

                            <!-- <h2>{{ question.title }}</h2> -->

                        <h2 class="pb-3">{{ this.quiz.questions[this.quiz.currentQuestion].title }}</h2>
                    
                       </li>

                        <li class="list-group-item list-group-item-action list-group-item-light" *ngFor="let choice of this.quiz.questions[this.quiz.currentQuestion].choices">  
                            

                            <!-- on click needs to record value and tally to specific result will probably have to use a function -->
                            <button type="button" class="btn btn-light" >{{ choice.a }}</button>
                        </li>



                    </ul>
                
            </div>
            <div class="card-body ">
                <button (click)="this.quiz.goPrevQuestion()" class="btn btn-warning float-left">Back</button>
                <button (click)="this.quiz.goNextQuestion()"  class="btn btn-warning float-right">Next</button><br><br><br>

                <button (click)="this.quiz.goNextQuestion()"  class="btn btn-danger float-center p-2 btnSub">SUBMIT</button>

            </div>
            <br>



            <!-- needs to navigate to each page, on click -->

            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group m-auto" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary">1</button>
                    <button type="button" class="btn btn-secondary">2</button>
                    <button type="button" class="btn btn-secondary">3</button>
                    <button type="button" class="btn btn-secondary">4</button>
                    <button type="button" class="btn btn-secondary">5</button>
                </div>
            </div>




            <br>



        </div>
    </div>