

h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 55px;
    text-shadow: 5px 5px 7px #000000;
}

h2 {
    font-family: 'Bad Script', cursive;
    text-shadow: 3px 3px 5px #000000;
}

h6 {
    font-family: 'Raleway', sans-serif;
}

.btn {
    font-family: 'Raleway', sans-serif !important;
    font-size: 1.1em;
}

ul {
    list-style: none;
}                                

.btnSub {
    font-size: 1.25em;
    font-weight: 600 !important;
}

.card-body-bg {
    background-color: rgba(0, 0, 0, 0.801) !important;
}

.mutiny {
    background: url("../../assets/quizApp/skull_dark_bg.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
 }
 button:focus{
    background:#94906a !important;
}
.card-img-top {
    height: auto;
}
