.mutiny {
    background: url("https://files.slack.com/files-pri/T8TBSJ9S9-FBP9G4PS8/skull_dark_bg.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
h1 {
    font-family: 'Playfair Display SC', serif;
}
.container {
    width: 45%;
    margin-top: 162px;
    height: 31%;
}
a {
    color: gold;
}