<body>

  <section class="container-fluid mutinybg">

    <h1 class="text-center titlefont">Mutiny at Sea!</h1>

    <div class="card" style="width: auto; height: 75vh;">
      <div class="card-body">
        <h2 class="card-text qst">Would You Survive A Mutiny?</h2>
        <hr>
        <button class="btn btn-warning">Let's Get Started!</button>
        <!-- <img class="card-img-bottom" src="assets/quizAppPics/ship_aged_map.png"> -->
      </div>
      <footer class="sticky space ftButtons text-center">
        <p>
          <a class="linkbtn mt-3" href="https://listverse.com/2014/03/31/10-extremely-dramatic-mutinies-from-history/"> Interesting stories about Mutiny at Sea!</a>
          <!-- <button onclicktype="button" class="btn btn-warning">Button Text Here</button> -->
        </p>
      </footer>
      <!-- <img class="card-img-bottom" src="assets/quizAppPics/ship_aged_map.png"> -->
    </div>

  </section>
</body>