.sticky {
    position: sticky;
    bottom: 0;
    z-index: 1;
    border-style: solid;
    /* text-align: center; */
 }
 
 .space {
     padding-left: 10px;
     padding-right: 10px;
 }

.btnborder {
    border-style: solid;
}

.ftIcon {
    width: 20px;
    height: auto;
}

.ftButtons {
    width: 500px;
}

.titlefont {
    font-family: 'Playfair Display SC', serif;
}