<body>

    <h1 class="text-center titlefont">Mutiny at Sea!</h1>

  <section class="container-fluid btn border">
    <form>
      <div class="row justify-content-center">
        <h1>Would You Survive A Mutiny?</h1>
      </div>
    </form>
  </section>


  <footer class="sticky space">

    <div class="row">
      <div class="col ftIcon">
        <img src="assets/quizAppPics/ship.png">
      </div>
      <div class=" col">
        <h4>Pages</h4>
        <p><button type="button" class="btn btn-warning">Button Text Here</button>
        </p>
      </div>
    </div>
  </footer>
</body>