<body>

  <h1 class="text-center titlefont">Mutiny at Sea!</h1>

  <section class="container-fluid mutinybg">

    <div class="card" style="width: auto;">
      <div class="card-body">
        <p class="card-text">Would You Survive A Mutiny?</p>
      </div>
      <img class="card-img-bottom" src="assets/quizAppPics/ship_aged_map.png">
    </div>

    <footer class="sticky space ftButtons">

      <div class="row">
        <div class="col ftIcon">
          <img src="assets/quizAppPics/ship.png">
        </div>
        <div class=" col">
          <h4>Pages</h4>
          <p>
            <button type="button" class="btn btn-warning">Button Text Here</button>
          </p>
        </div>
      </div>
    </footer>

  </section>
</body>